@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<body>
    <img src="logo_transparent.png" style="display:block; margin-left:auto; margin-right:auto; block-size:500px; margin-bottom:-100px; margin-top:100px"/>
    <center>
        <button @onclick="NavigateOnlineOrders" class="custom-button">Online Orders</button>
        <button @onclick="NavigateLocations" class="custom-button" style="margin-left:60px">Table Drag (New)</button>
    </center>
</body>

<style>
    body{
        background-color:#181818;
    }

    .background-image{
        background-image:url('ai.gif');
        background-repeat: no-repeat;
        background-size:cover;
    }

    .custom-button{
        background-color:#6E0AEE;
        width:300px;
        height: 60px;
        border-radius:10px;
    }
</style>

@code{
    void NavigateOnlineOrders() => NavigationManager.NavigateTo("orders");
    void NavigateLocations() => NavigationManager.NavigateTo("tabledrag");
}